
*{
  box-sizing: border-box;
  
}


App {
  text-align: center;
  padding: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body{
  background-color: red;
}
.QuoteBoxEstructure{
  display: flex;
  flex-direction: column;
  position: relative;
  height: 300px;
  width: 900px;
  margin-left: 500px;
  margin-top: 400px;
  border: white; 
  background-color: white;
  text-align: center;
  

}

.QuoteBoxEstructure>p{
  font-size: medium; 
  color: red;  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 

  }
  

  .ButtonNext{
   position: absolute;
   left: 0;
   top: 0;
  }




